.App {
  text-align: left;
}

.App-logo {
  padding: calc(12px);
  height: calc(60px);
  pointer-events: none;
}

.App-header {
  background-color: #414141;
  min-height: 15px;
  display: flex;
  font-size: calc(15px);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Calendar {
  width: 1500px;
  padding-top: 50px;
  padding-left:50px;
}
