.custom-checkbox {
    cursor:pointer;

}

.checkbox1>.custom-checkbox .custom-control-label::before{
  border-color:rgb(255, 204, 146);
  background-color: rgb(255, 204, 146);
}
.checkbox1>.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#f7b336;
  border-color:#f7b336;
}

.checkbox2>.custom-checkbox .custom-control-label::before{
  border-color:rgb(165, 174, 255);
  background-color: rgb(165, 174, 255);
}
  .checkbox2>.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#5f6fff;
    border-color:#5f6fff;
  }

  .checkbox3>.custom-checkbox .custom-control-label::before{
    border-color:rgb(255, 171, 171);
    background-color: rgb(255, 171, 171);
  }
  .checkbox3>.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#ed5959;
    border-color:#ed5959;
  }

  .checkbox4>.custom-checkbox .custom-control-label::before{
    border-color:rgb(172, 251, 169);
    background-color: rgb(172, 251, 169);
  }
  .checkbox4>.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#50c54c;
    border-color:#50c54c;
  }

  .checkbox5>.custom-checkbox .custom-control-label::before{
    border-color:rgb(61, 61, 61);
    background-color: rgb(61, 61, 61);
  }
  .checkbox5>.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:rgb(0, 0, 0);
    border-color:rgb(0, 0, 0);
  }